@import url(http://fonts.googleapis.com/css?family=Lato:400,700);

$tileWidth: 200px;
$tileHeight: 231px;

@mixin transition($transitions...) {
    -webkit-transition: $transitions;
    -moz-transition: $transitions;
    -ms-transition: $transitions;
    -o-transition: $transitions;
    transition: $transitions;
}

* {
    padding: 0;
    margin: 0;
    overflow: visible;
    font-family: "Lato";
}

body {
    position: absolute;
    top: 100px;
    height: 1027px;

    background-image: url("/image/water_tiled.png");
    background-position: 0 100px;
}

img.robber {
    display: block;

    margin: 0 auto;
    margin-top: 64px;

    opacity: 0;
}

span.number {
    display: inline-block;

    width: 40px;
    height: 40px;

    margin: 0 auto;
    margin-top: 8px;

    text-align: center;
    font-family: "Lato";
    font-weight: 700;
    font-size: 30px;

    border: 1px #AE985A outset;
    border-radius: 100%;

    color: #555555;
    background-color: #AE985A;

    pointer-events: none;

    &.red {
        color: #BB0000;
    }
}

div {
    &.red { background-color: red; }
    &.orange { background-color: orange; }
    &.blue { background-color: blue; }
    &.white { background-color: white; }

    &.tile {
        position: absolute;
        left: 100%;
        top: 0;
        height: $tileHeight;
        width: $tileWidth;

        text-align: center;

        @include transition(left 0.5s, top 0.5s);

        &.pasture { background-image: url("/image/wool.png"); }
        &.field { background-image: url("/image/wheat.png"); }
        &.forest { background-image: url("/image/wood.png"); }
        &.quarry { background-image: url("/image/brick.png"); }
        &.mountain { background-image: url("/image/ore.png"); }
        &.water { background-image: url("/image/water.png"); }
        &.desert { background-image: url("/image/desert.png"); }
    }

    &.road {
        position: absolute;
        left: 0;
        top: 0;
        width: 100px;
        height: 16px;

        opacity: 0;
        background-color: black;

        @include transition(opacity 0.5s);
    }

    &.road_row {
        &.long {
            div.road {
                &:nth-child(2n) { transform: rotate(30deg); }
                &:nth-child(2n+1) { transform: rotate(-30deg); }
            }
            &.rev div.road {
                &:nth-child(2n) { transform: rotate(-30deg); }
                &:nth-child(2n+1) { transform: rotate(30deg); }
            }
        }
        &.tall {
            div.road { transform: rotate(90deg) translate(-8px, 0); }
        }
    }

    &.house {
        position: absolute;
        left: 0;
        top: 0;
        width: 32px;
        height: 32px;

        opacity: 0;
        background-color: black;

        @include transition(opacity 0.5s);
    }

    &.player {
        position: fixed;
        height: 75px;
        width: 30%;
        background-color: RGBA(255, 255, 255, 0.5);

        &.me { width: 100%; bottom: 0; }
        &:not(.me) { top: 0; }
    }

    &.overlay {
        box-sizing: border-box;
        display: none;

        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 1;

        width: 100%;
        padding: 300px;

        text-align: center;

        background-color: RGBA(0, 0, 0, 0.9);
        color: white;

        input, button {
            box-sizing: border-box;
            display: block;

            width: 500px;
            height: 32px;
            margin: 4px auto;
            padding: 2px;

            font-size: 20px;

            background-color: RGBA(255, 255, 255, 0.8);

            border: 2px solid #DDDDDD;
            border-radius: 3px;

            &[type='file'] { padding: 0; }
            &[type='number'] { display: inline-block; width: 50px; }

            &:focus { background-color: RGBA(255, 255, 255, 1); }
        }
        button {
            &:hover { background-color: RGBA(255, 255, 255, 1); }
        }
    }

    &.color_selector {
        display: inline-block;

        width: 100px;
        height: 100px;
        margin: 16px;

        cursor: pointer;
    }

    &#chatbox_container {
        position: fixed;
        left: 0;
        bottom: 116px;
        width: 500px;
        height: 32px;

        overflow: hidden;

        color: white;
        background-color: RGBA(0, 0, 0, 0.3);

        vertical-align: bottom;

        #chatbox {
            display: inline-block;

            position: absolute;
            bottom: 0;
            width: 100%;

            p {
                min-height: 32px;

                &:nth-of-type(2n) {
                    background-color: RGBA(255, 255, 255, 0.3);
                }
            }
            input {
                display: block;

                height: 32px;
                width: 100%;

                border: none;

                background-color: RGBA(255, 255, 255, 0.6);
                color: black;
            }
        }
    }


    &#dice {
        position: fixed;
        left: 32px;
        top: 107px;
    }

    &#gui {
        position: fixed;
        left: 32px;
        top: 203px;

        div {
            display: none;

            height: 100px;

            border: 1px RGBA(0, 0, 0, 0.5);

            background: RGBA(255, 255, 255, 0.5);

            cursor: pointer;
        }
    }
}

span.spacer {
    display: inline-block;

    width: 0;
    height: 100%;

    vertical-align: bottom;
}

button#start_game {
    display: none;

    position: fixed;
    left: 25%;
    top: 25%;
    width: 50%;
    height: 50%;

    border-radius: 15px;

    font-size: 30px;

    background-color: RGBA(0,0,0,0.6);
    color: white;

    &:hover, &:focus {
        background-color: RGBA(0,0,0,0.8);
    }
}
