@import url(http://fonts.googleapis.com/css?family=Lato:300,700);

$tileWidth: 200px;
$tileHeight: 231px;
$robberWidth: 40px;
$robberHeight: 90px;
$numberCircleSize: 40px;
$numberCircleColor: #AE985A;
$playerBoxHeight: 75px;

@mixin transition($transitions...) {
    -webkit-transition: $transitions;
    -moz-transition: $transitions;
    -ms-transition: $transitions;
    -o-transition: $transitions;
    transition: $transitions;
}
@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
}
@mixin transform-origin($x, $y) {
    -webkit-transform-origin: $x $y;
    -moz-transform-origin: $x $y;
    -ms-transform-origin: $x $y;
    -o-transform-origin: $x $y;
    transform-origin: $x $y;
}

* {
    padding: 0;
    margin: 0;
    overflow: visible;
    font-family: "Lato",sans-serif;
}
div.container {
    position: relative;
    overflow: visible;
    min-width: 100%;
    min-height: 100%;
}

body {
    position: absolute;
    top: 100px;
    height: 1027px;

    background-image: url("/image/water_tiled.png");
    background-position: 0 100px;
    overflow-x: hidden;
}

div#alert {
    position: fixed;
    top: $playerBoxHeight + 16px;
    left: 50px;
    right: 50px;
    z-index: 5;

    height: 40px;

    font-size: 16pt;
    line-height: 40px;
    text-align: center;

    opacity: 0;

    @include transition(opacity 0.5s);
    @include border-radius(15px);

    pointer-events: none;

    &.error {
        opacity: 1;
        border: 1px solid rgba(74, 20, 20, 0.8);
        background-color: rgba(233, 196, 196, 0.8)
    }
    &.success {
        opacity: 1;
        border: 1px solid rgba(27, 147, 27, 0.8);
        background-color: rgba(198, 241, 198, 0.8)
    }
    &.notification {
        opacity: 1;
        border: 1px solid rgba(140, 140, 140, 0.8);
        background-color: rgba(220, 220, 220, 0.8)
    }
}


img.robber {
    position: absolute;
    display: block;

    left: ($tileWidth - $robberWidth) / 2;
    top: ($tileHeight - $robberHeight) / 2;

    opacity: 1;
}

span.number {
    display: inline-block;

    width: $numberCircleSize;
    height: $numberCircleSize;

    margin: 0 auto;
    margin-top: 8px;

    text-align: center;
    font-family: "Lato";
    font-weight: 700;
    font-size: 28px;
    line-height: $numberCircleSize;

    border: 1px $numberCircleColor outset;
    border-radius: 100%;

    color: #555555;
    background-color: $numberCircleColor;

    pointer-events: none;

    &.red {
        color: #BB0000;
    }
}

div {
    &.red { background-color: red; }
    &.orange { background-color: orange; }
    &.blue { background-color: blue; }
    &.white { background-color: white; }

    &.pasture, &.wool { background-image: url("/image/wool.png"); }
    &.field, &.wheat { background-image: url("/image/wheat.png"); }
    &.forest, &.wood { background-image: url("/image/wood.png"); }
    &.quarry, &.brick { background-image: url("/image/brick.png"); }
    &.mountain, &.ore { background-image: url("/image/ore.png"); }
    &.desert { background-image: url("/image/desert.png"); }
    &.water { background-image: url("/image/water.png"); }
    &.any {background-image: url("/image/any.png"); }
}

div {
    &.tile {
        position: absolute;
        left: 100%;
        top: 0;
        height: $tileHeight;
        width: $tileWidth;

        text-align: center;

        @include transition(left 0.5s, top 0.5s);
    }
    &.card {
        @extend div.tile;

        width: $tileWidth / 4;
        height: $tileHeight / 4;
        background-size: contain;
    }

    &.card-container {
        position: relative;
        width: 100%;
        height: $tileHeight / 4;
        text-align: center;

        &.small {
            height: $tileHeight / 8;

            .card {
                width: $tileWidth / 8;
                height: $tileHeight / 8;
            }
        }
    }
    &.devcard-container {
        position: relative;
        width: $tileWidth / 4 * 3;
        margin: 0 auto;
    }
    &.resource-container {
        @extend div.devcard-container;

        width: $tileWidth / 4 * 5;

        .card {
            display: inline-block;
            position: static;
        }
    }
    &.devcard {
        @extend div.card;
        width: ($tileHeight / 4) * (64px / 96px);
        background-repeat: no-repeat;

        &.monopoly {
            left: 0;
            background-image: url("/image/monopoly.png");
        }
        &.road-building {
            left: $tileWidth / 4;
            background-image: url("/image/road_building.png");
        }
        &.year-of-plenty {
            left: $tileWidth / 2;
            background-image: url("/image/year_of_plenty.png");
        }
    }
}

div {
    &.port {
        @extend div.tile;

        z-index: -1;

        @include transform-origin(center, center);

        background-repeat: no-repeat;
        background-position: 100% center;
        background-size: ($tileWidth/4) ($tileHeight/4);
    }
}

div#roads {
    .road {
        position: absolute;
        left: 0;
        top: 0;
        width: 100px;
        height: 16px;

        background-color: RGBA(0,0,0,0);

        @include transition(background-color 0.5s);

        cursor: default;
        pointer-events: none;

        &.buildable {
            background-color: RGBA(0,0,0, 0.5);

            cursor: pointer;
            pointer-events: auto;
        }
    }

    .road_row {
        &.long {
            div.road {
                &:nth-child(2n) { transform: rotate(30deg); }
                &:nth-child(2n+1) { transform: rotate(-30deg); }
            }
            &.rev div.road {
                &:nth-child(2n) { transform: rotate(-30deg); }
                &:nth-child(2n+1) { transform: rotate(30deg); }
            }
        }
        &.tall {
            div.road { transform: rotate(90deg) translate(-8px, 0); }
        }
    }

}

div#houses {
    .house {
        position: absolute;
        left: 0;
        top: 0;
        width: 32px;
        height: 32px;

        background-color: RGBA(0,0,0,0);
        color: RGBA(0,0,0,0);

        @include transition(background-color 0.5s);

        &::before {
            box-sizing: border-box;
            content: "";
            display: block;

            position: relative;
            top: -100%;
            width: 32px;
            height: 32px;

            border-top: 16px solid transparent;
            border-right: 16px solid transparent;
            border-left: 16px solid transparent;
            border-bottom: 16px solid;
            @include transition(color 0.5s, border-bottom-color 0.5s);
        }
    }
    .city {
        width: 48px;
        @include transition(width 0.5s);
        &.buildable {
            border: 2px solid black;
        }
    }
    .buildable {
        background-color: RGBA(0,0,0,0.5);
        color: RGBA(0,0,0,0.5);

        cursor: pointer;
        pointer-events: auto;
    }
    .targetable {
        border: 3px solid #AAA;

        cursor: pointer;
        pointer-events: auto;
    }
}
div.player {
    position: fixed;
    height: $playerBoxHeight;
    width: 30%;
    z-index: 2;

    background-color: RGBA(255, 255, 255, 0.5);

    &.me { width: 100%; bottom: 0; }
    &:not(.me) { top: 0; }

    &.robber-trouble {
        border: 2px solid red !important;
    }
}
div.overlay {
    box-sizing: border-box;
    display: none;

    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;

    width: 100%;
    padding: 0 300px;

    text-align: center;

    background-color: RGBA(0, 0, 0, 0.9);
    color: white;

    input, button {
        box-sizing: border-box;
        display: block;

        width: 500px;
        height: 32px;
        margin: 4px auto;
        padding: 2px;

        font-size: 20px;

        background-color: RGBA(255, 255, 255, 0.8);

        border: 2px solid #DDDDDD;
        border-radius: 3px;

        &[type='file'] { padding: 0; }
        &[type='number'] { display: inline-block; width: 50px; }

        &:focus { background-color: RGBA(255, 255, 255, 1); }
    }
    button {
        &:not(.not-clickable):hover { background-color: RGBA(255, 255, 255, 1); }
        &.not-clickable {
            pointer-events: none;
            opacity: 0.5;
        }
    }
}

div.color_selector {
    display: inline-block;

    width: 100px;
    height: 100px;
    margin: 16px;

    cursor: pointer;
}

div {
    &.trade-offer {
        position: relative;
        width: 600px;
        height: 150px;

        background-color: RGBA(255, 255, 255, 0.3);
        @include border-radius(10px);

        div.trade-left {
            position: absolute;
            left: 0;
            right: 100px;
            height: 100%;
        }
        button {
            position: absolute;
            right: 0;
            height: 100px;
            width: 100px;
        }
    }
}

div#chatbox-container {
    position: fixed;
    right: 0;
    bottom: 116px;

    width: 500px;
    height: 500px;
    max-height: 32px;

    color: white;
    background-color: RGBA(0, 0, 0, 0.3);

    word-wrap: break-word;
    pointer-events: none;

    #messages-container {
        display: block;

        position: absolute;
        top: 0;
        bottom: 32px;
        width: 100%;
        overflow: hidden;

        .message {
            padding: 3px 5px;
            border-bottom: 1px solid RGBA(150, 150, 150, 0.5);

            .chatbox-author {
                font-weight: bold;
                margin-right: 15px;
            }
            .chatbox-timestamp {
                font-size: 12px;
            }
        }
    }
    #chatbox-input {
        box-sizing: border-box;
        position: absolute;
        left: 0;
        bottom: 0;
        padding: 0 5px;
        width: 100%;
        height: 32px;

        border: none;
        background-color: RGBA(255, 255, 255, 0.3);

        &:focus {
            border-top: 1px solid white;
        }
    }
}

div {
    &#dice {
        position: fixed;
        left: 14px;
        top: 107px;
        width: 160px;
        text-align: center;
    }

    &#gui {
        position: fixed;
        left: 14px;
        top: 203px;

        div.container {
            width: 160px;

            div {
                display: none;

                position: absolute;
                left: 0;

                width: 100%;
                height: 40px;

                padding: 0 5px;

                border: 1px RGBA(0, 0, 0, 0.5) solid;
                @include border-radius(4px);

                background: RGBA(255, 255, 255, 0.5);

                line-height: 40px;
                text-align: center;
                cursor: pointer;


                &#buy-dev-card {
                    top: 0px;
                    line-height: 20px;
                }
                &#play-dev-card {
                    top: 50px;
                }
                &#init-trade {
                    top: 100px;
                }
                &#end-turn {
                    top: 150px;
                }
            }
        }
    }
}

span.spacer {
    display: inline-block;

    width: 0;
    height: 100%;

    vertical-align: bottom;
}
.va-middle {
    display: inline-block !important;
    vertical-align: middle;
}
span.va-middle {
    height: 100%;
    width: 0;
}
button#start_game {
    display: none;

    position: fixed;
    left: 25%;
    top: 25%;
    width: 50%;
    height: 50%;

    border-radius: 15px;

    font-size: 30px;

    background-color: RGBA(0,0,0,0.6);
    color: white;

    &:hover, &:focus {
        background-color: RGBA(0,0,0,0.8);
    }
}
